.application{
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.5); 
    padding: 20px;
}

.mobile img{
    width: 260px;
    max-width: 100%;
}

.right{
    text-align: right;
}

.download{
    font-size: bold;
}

.text{
    font-size: smaller;
    margin-bottom: 30px;
}

button{
    padding: 5px 20px;
    border-radius: 10px;
    margin-left: 20px;
    background-color: rgb(51, 50, 50);
    color: white;
    font-size: small;
    min-height: 47px;
    min-width: 152px;
    margin-top: 5px;
}