.other-topic img{
    width: 340px;
    border-radius: 10px;
}

.other-topic{
    padding: 20px 10px;
}

.position-abs{
    position: absolute;
    bottom:30px ;
    right: 30px;  
    color: white;
    font-size: medium
}

.position-rel{
    position: relative;
}